// Layout

$mobile-width: 375px;
$desktop-width: 550px;

// Colors

// Primary

$light-cyan: hsl(193, 38%, 86%);
$neon-green: hsl(150, 100%, 66%);

// Neutral

$grayish-blue: hsla(218, 20%, 31%, 0.794);
$dark-grayish-blue: hsl(218, 38%, 14%);

// Typography

$font-size: 28px; // quote

$font-family: 'Manrope', sans-serif;
$weight: 800;
